360cameraNUbotsField/
BlenderNUbotsField/
BlenderNUbotsFieldGrid25/
BlenderNUbotsFieldGridPin25/
BlenderNUbotsFieldGridPin49/
BlenderNUbotsFieldPin25/
BlenderRoboCupLoose25/
BlenderRoboCupPaths/
BlenderRoboCupTrain31/
FieldPositions56TestGrid/
FieldPositions56TestGridEasy/
NUbotsField/
Results/
weights/